<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home Page</title>

    <style>
        html {
            font-size: 20px; 
            font-family: 'Georgia', serif;
        }

        body {
            background-color: #f7e6ec; 
        }

        h1 {
            color: #ba0d48;
        }

        h2 {
            color: red; 
        }
    </style>

</head>

<body>
	<h1>Welcome to Soojee's Beauty Store</h1>

    <h2>Explore All of our Products</h2>
    <ul><li>To see all items we have in stock <a href = "/stockListPage">Items in Stock</a></li>
        <li>To see our most popular items <a href = "/popularItemsPage">Popular Items</a></li>
    </ul>
    <hr>
    <h2>Review Your Cart</h2>
    <ul><li>To see all items in your cart <a href = "/inventoryPage">Your Cart</a></li>
        <li>To remove an item from your cart <a href = "/removeFromCartPage">Remove Item From Cart</a></li>
        <li>To add an item to your cart <a href = "/addToCartPage">Add Item To Cart</a></li>
        <li>To checkout <a href = "/checkoutPage">Checkout</a></li>
    </ul> 
    <hr>
    <h2>To View Your IP Address</h2>
    <ul>
        <li>To review your IP address info <a href = "/index">IP</a></li>
    </ul>
    <hr>
</body>

</html>