<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>IP Address</title>

    <style>
        html {
            font-size: 20px; 
            font-family: 'Georgia', serif;
        }

        body {
            background-color: #f7e6ec; 
        }

        h1 {
            color: #ba0d48;
        }

        h2 {
            color: red; 
        }
    </style>

</head>

<body>
    <h1>Your IP Address</h1>

    <p><%= getIP %></p>
    <hr>
    <p>
        <a href = "/">HOME</a>
    </p>
</body>
</html>