<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Most Popular List Page</title>
    
    <style>
        html {
            font-size: 20px; 
            font-family: 'Georgia', serif;
        }

        body {
            background-color: #f7e6ec; 
        }

        h1 {
            color: #ba0d48;
        }

        h2 {
            color: red; 
        }

        #myTable {
            background-color: white;
        }
    </style>

</head>

<body>
	<h1>Most Popular Items Sold at Soojee's Beauty Store</h1>

    <table border="1" id="myTable">
        <tr><th>Item Name</th><th>Item Price</th></tr>
        <tr><td>IT Cosmetics CC Cream Foundation</td><td>$47.00</td></tr>
        <tr><td>Make Up For Ever HD Skin Concealer</td><td>$29.00</td></tr>
        <tr><td>Huda Beauty Easy Bake Loose Setting Powder</td><td>$38.00</td></tr>
        <tr><td>Charlotte Tilbury Airbrush Flawless Setting Spray</td><td>$38.00</td></tr>
        <tr><td>Rare Beauty Warm Wishes Bronzer Stick</td><td>$26.00</td></tr>
        <tr><td>Saie Beauty Dew Liquid Blush</td><td>$25.00</td></tr>
        <tr><td>Benefit Cosmetics Cookie Powder Highlight</td><td>$35.00</td></tr>
        <tr><td>Lancome Lash Idole Mascara</td><td>$30.00</td></tr>
        <tr><td>Anastasia Beverly Hills Brow Pencil</td><td>$25.00</td></tr>
        <tr><td>Tarte Maracuja Juicy Lip Balm</td><td>$26.00</td></tr>
        <tr><td>Charlotte Tilbury Lip Cheat Lip Liner</td><td>$25.00</td></tr>
    </table>
    <br>
    <hr>
    <p>
        <a href = "/">HOME</a>
    </p>
</body>

</html>