<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove Items From Cart</title>
    
    <style>
        html{
            font-size: 20px; 
            font-family: 'Georgia', serif;
        }

        body {
            background-color: #f7e6ec; 
        }

        h1 {
            color: #ba0d48;
        }

        h2 {
            color: red; 
        } 

        #resetButton {
            background-color: #fac8d9;
            font-style: bold;
            border: 4px solid #ba0d48; 
            font-size: 18px;
        }

        #submitButton {
            background-color: #fac8d9;
            font-style: bold;
            border: 4px solid #ba0d48; 
            font-size: 18px;
        }

        #nameInputBox {
            width: 250px;
            height: 20px;
            background-color: #fac8d9;
            border: 4px solid #ba0d48;  
        }

        #quanInputBox {
            width: 250px;
            height: 20px;
            background-color: #fac8d9;
            border: 4px solid #ba0d48;  
        }
    </style>

</head>

<body>
	<h1>Remove an Item From Your Cart</h1>
    <form action="/postRemoveFromCart" method="post">
        <fieldset>
            <b>Item Name: </b> <input list="item-choice" name="nameInput" id="nameInputBox">
                    <datalist id="item-choice">
                        <option value="IT Cosmetics CC Cream Foundation">
                        <option value="Dior Backstage Face and Body Foundation">
                        <option value="Makeup By Mario Surreal Skin Foundation">
                        <option value="Kosas Revealer Concealer">
                        <option value="Make Up For Ever HD Skin Concealer">
                        <option value="Rare Beauty Liquid Touch Concealer">
                        <option value="Huda Beauty Easy Bake Loose Setting Powder">
                        <option value="Laura Mercier Translucent Loose Setting Powder">
                        <option value="Charlotte Tilbury Airbrush Flawless Setting Spray">
                        <option value="Makeup By Mario Soft Sculpt Bronzer">
                        <option value="Rare Beauty Warm Wishes Bronzer Stick">
                        <option value="Saie Beauty Dew Liquid Blush">
                        <option value="Dior Rosy Glow Blush">
                        <option value="Benefit Cosmetics Cookie Powder Highlight">
                        <option value="Ilia Limitless Lash Mascara">
                        <option value="Lancome Lash Idole Mascara">
                        <option value="KVD Beauty Tattoo Liquid Eyeliner">
                        <option value="Anastasia Beverly Hills Brow Pencil">
                        <option value="Benefit Cosmetics 24HR Brow Setter Brow Gel">
                        <option value="Tarte Maracuja Juicy Lip Balm">
                        <option value="Charlotte Tilbury Lip Cheat Lip Liner">
                        <option value="Huda Beauty Faux Filler Lip Gloss">
                    </datalist>
            <br><br>
            <b>Desired Quantity to Remove: </b> <input type="text" name="quanInput" id="quanInputBox">
            <br><br>
        </fieldset>
        <br>
        <input type="reset" id="resetButton" value="Reset">
        <input type="submit" id="submitButton" value="Update Cart">
    </form>
    <hr>
    <p>
        <a href = "/">HOME</a>
    </p>
</body>

</html>